<h1>Ad Agency</h1>

<form method="post" action="/search/ads">
    <select name="key">
        <option value="name">Name</option>
        <option value="region">Region</option>
        <option value="language">Language</option>
        <option value="type">Type</option>
    </select>
    <input type="text" name="value">
    <input type="submit">
</form>

<form action="/clear" method="post"><button>clear</button></form>

<table>
<tr><th>Name</th><th>Region</th><th>Language</th><th>Type</th></tr>
<% ads.forEach(function(ad){ %>
<tr>
   <td><%= ad.name %></td> <td><%= ad.region%></td> <td><%= ad.language %></td> <td><%= ad.type%></td>
</tr>
<% }) %>
</table>